<div class="login">
	<div class="container-login">
	  <div class="wrap-login">
		<div class="login-form-title">
		  <span class="login-form-title-1">Reset Password</span>
		</div>
		<div class="ctl-text">
			<p>Enter your Email address and we will send you a link to Request your password.</p>
		</div>
		<form class="login-form" [formGroup]="requestPassword" (ngSubmit)="requestEmailPassword()">
			<div *ngIf="config.isSubmitted && formControls.username.errors">
				<span class="error-message" *ngIf="formControls.username.errors.required">Email Address is a required field.</span>
			</div>
			<div class="wrap-input m-b-18">
				<span class="btn-icon-menu "> <i class="fa fa-envelope ml-1"></i> </span>
				<input type="email" class="form-control input" formControlName="username"  placeholder="Email Address">
			</div>

		  <div>
			<button class="login-form-btn text-light">Send Email and Request Password</button>
		  </div>
		</form>
		<p class="ctl-back-link">
			<a  routerLink="/auth/login" class="text-link">Back to Log In <i class="fa fa-arrow-alt-circle-left ml-1"></i></a>
		</p>
	  </div>
	</div>
  </div>
