
<div class="col-lg-12 pl-0 pr-0">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-9 col-md-9">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item" routerLink="/main/project/project-list">Projects</li>
                <li class="breadcrumb-item" aria-current="page">{{breadCurum}} Bidders List</li>
              </ol>
            </nav>
          </div>
          <div class="col-3 col-md-3 d-flex justify-content-end" >
            <!-- <div class="mr-2">
              <a (click)="toDownload()"><i class="fas fa-file-export export-icon"></i></a>
              <p class="mb-0">Export</p>
            </div> -->
            
            <div>
              <!-- <button type="button" routerLink="/main/dashboard/landing-dashboard"  *ngIf="backButton" class="btn btn-icons btn-rounded btn-outline-success" tooltip="Back To Dashboard"  placement="top" > <i class="fas fa-arrow-circle-left" aria-hidden="true"></i></button> -->
              <button type="button" (click)="refreshPage()" class="btn btn-icons btn-rounded btn-outline-secondary" tooltip="Refresh"  placement="top" ><i class="fas fa-sync-alt" aria-hidden="true"></i></button>
              <p class="mb-0">Refresh</p>
            </div>
                <button class="btn btn-icons btn-rounded btn-outline-success" [routerLink]="['/main/project/project-detail',projectId]" tooltip="Back to ProjectDetails"> <i class="fas fa-arrow-circle-left"></i>
                </button>
            </div>
        </div>
        <hr>
          <div class="row">
              <!-- <div class="form-group col-md-4 d-flex">
                <i class="fa fa-search my-auto" aria-hidden="true"></i>
                <input type="text" class="form-control" [(ngModel)]= 'inputText' (ngModelChange)="this.filterUpdate.next($event)" placeholder="Search Project Name">
              </div> -->
             
        </div>

        <div class="loading">
          <div style="overflow-x:auto;">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th><i class="far fa-user pr-3"></i>Service Provider</th>
                  <th><i class="fab fa-product-hunt pr-3"></i>Role</th>
                  <th><i class="fa fa-at pr-3"></i>Email</th>
                  <th><i class="fa fa-dollar-sign pr-3"></i>Bid Price</th>
                  <th><i class="fa fa-cog pr-3"></i>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bidderList of page.content">
                  <td>{{bidderList?.freelancer?.agency ? bidderList?.freelancer?.agencyName : bidderList?.freelancer?.user?.firstName}}</td>
                  <td>{{ bidderList?.freelancer?.agency ? 'COMPANY' : 'FREELANCER' }}</td>
                  <td>{{ bidderList?.freelancer?.user?.emailVerification?.email }}</td>
                  <td>{{ bidderList?.bidPrice | currency}}</td>
                  <!-- <td *ngIf="projectList.project?.actualBudget != null">{{ projectList.project?.actualBudget | currency}}</td> -->
                  <td><button [routerLink]="['/main/user/user-detail', bidderList?.freelancer?.user?.id, 'FREELANCER']" type="button" class="btn btn-rounded btn-inverse-outline-success" tooltip="View User Detail" theme="primary" placement="top" ><i class="fa fa-eye" aria-hidden="true"></i></button></td>

                </tr>
                <tr *ngIf="page.content?.length === 0">
                  <td>-</td><td>-</td><td>No Records</td><td>-</td><td>-</td><td>-</td>
                </tr>
              </tbody>

             
            </table>
            <ngx-loading [show]="loading"
            [config]="{animationType: ngxLoadingAnimationTypes.circle, primaryColour: '#ffffff', secondaryColour: '#ccc', backdropBorderRadius: '3px'}"
            ></ngx-loading>
          </div>
          <hr>
          <app-pagination *ngIf="!isPageEmpty" [page]="page" (nextPageEvent)="getNextPage()" (previousPageEvent)="getPreviousPage()" (pageSizeEvent)="getPageInNewSize($event)"></app-pagination>
        </div>
      </div>
    </div>
</div>

