.close{
    color: #FF4D00 ;
  }

  .breadcrumb {
    font-size: 20px;
    padding-left: 0px;

  }

  /* .modal{
  padding-top:5%;
  position: fixed;
  }

  .modal-body{
    padding: 10%;
  } */

  .modal{
    padding-top:10%;
    }

    .modal-body{
    padding: 10%;
    }

  .form-control{
  border: none !important;
  border-bottom: 2px solid #FF4D00 !important;
  font-size: 13px;
  }

  .modal-btn{
    padding:2%;
  }



  .custom-control-input:checked ~ .custom-control-label::before{
    color: #fff;
    border-color: #FF4D00;
    background-color: #FF4D00;
  }

  .create:hover{
    border: 1px solid #19d895;
    color: #19d895;
    background-color:white;

  }

.error-message {
  color: #cc0033;
  display:inline-block;
  font-size: 13px;
  line-height: 15px;
  margin: 0px 0 0;
}

.loading {
  z-index: 0;
  position: relative;
  border-radius: 4px;
}
