
@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Roboto', sans-serif;
}

.ctl-back-link{
    text-align: center;
    padding-bottom: 10px !important;
}

.ctl-back-link a{
    color: #3BD4AE;
}

.ctl-text p{
    text-align: center;
    font-size: 16px !important;
    padding-top: 50px !important;
    color: #808080 !important;
}

.sidebar > .nav .nav-item.nav-profile .nav-link {
    border: 0px !important;
}

.sidebar > .nav > .nav-item:not(.nav-profile) > .nav-link:before {
    border: 2px solid #ffffff !important;
}

.sidebar> .nav > .nav-item > .nav-link.active{
    background-color:#ff4d00a6 !important;
    color: #ffffff !important;
    padding-left: 65px;
}

input{
    outline: none;
    border: none;
}

.card .card-body .form-group .form-control{
    border: none;
    border-bottom: 2px solid #FF4D00 !important;
    font-size: 13px;
}

.table tbody:nth-child(odd) tr td {
    background-color: #e5f9f4 !important;
}

.table tbody tr td, .table tbody {
    border: none !important;
    color: #666666;
}

.loading {
    z-index: 0;
    position: relative;
    border-radius: 4px;
}

.breadcrumb-item{
    cursor: pointer;
}
.export-icon {
  font-size: 30px;
  margin-right: 15px;
  margin-top: 6px;
  color: rgba(0, 0, 0, 0.5);
}
_:-moz-tree-row(hover), .selector {
  border: 1px solid;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
